.line-break {
  margin-bottom: 50%;
}

.animated-text::after {
  content: '|';
  animation: cursor-blink 1.5s infinite step-start;
  margin-left: 5px;
}

.animated-text {
  margin: 5.5rem 0 0 3%;
  align-self: top;
  position: relative;
  color: white;
  font-size: 1.4rem;
  font-family: monospace;
  white-space: pre-wrap;
  overflow: hidden; 
}

@media screen and (min-width: 768px) {
  .animated-text{
    margin-top: 8rem;
  }
}

.cursor {
  display: inline-block;
  width: 10px;
  background-color: rgb(212, 10, 10);
  animation: cursor-blink 0.7s infinite step-start;
  vertical-align: bottom; 
}

@keyframes cursor-blink {
  50% {
      opacity: 0;
  }
}

.home-container {
  height: 100vh;
}

.home-text-container {
  background-color: #0a0a23;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  color: white;
}

.home-skip-button {
  position:absolute;
  bottom: 40px; 
  right: 40px;  
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.6rem;
  z-index: 10; 
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-skip-button {
    font-size: 1rem;
  }
}

.home-skip-button:hover {
  background: #c4e201;
}

.home-skip-button > svg {
  width: 22px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .home-skip-button > svg {
    width: 34px;
  }
}

.home-skip-button:hover svg {
  transform: translateX(5px);
}

.home-skip-button:active {
  transform: scale(0.95);
}


