.line-break {
  margin-bottom: 50%;
}

.animated-text::after {
  content: '|';
  animation: cursor-blink 1.5s infinite step-start;
  margin-left: 5px;
}

.animated-text {
  margin: 8rem 0 0 3%;
  align-self: top;
  position: relative;
  color: white;
  font-size: 1.4rem;
  font-family: monospace;
  white-space: pre-wrap;
  overflow: hidden; 
}

.cursor {
  display: inline-block;
  width: 10px;
  background-color: rgb(212, 10, 10);
  animation: cursor-blink 0.7s infinite step-start;
  vertical-align: bottom; 
}

@keyframes cursor-blink {
  50% {
      opacity: 0;
  }
}

.home-container {
  background-color: #0a0a23;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  color: white;
}